
/* Grüner, gepunkteter Rahmen für alle Elemente */
main1  {
  margin: 5px;
  padding: 3px;
  border: 3px dotted green;
  text-align: center;
}


/* Nur ein Rahmen, kein Universal- sondern normaler Typselektor */
main {
	border: 3px solid red;
}

/* Rahmen um alle Kindselemente im main-Element */
main * {
	border: 2px solid blue;
}
