body {
  font-family: Futura;
}
p.remark{
border-left-width: 15px;
border-left-color: blue;
border-left-style: solid;
margin-left: 70px;
padding-left: 10px;
}

p.remark.warning {
  border-style: solid;
  text-align: center;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}
